.weblog-post {
  padding-top: 2rem;

  .container {
    max-width: 1024px;
  }

  .weblog-post__container {
    background: var(--primary-color-tint-10);
    border-radius: var(--border-radius);
    padding: 2rem;
    display: grid;

    li,
    ul {
      list-style: unset;
    }

    .title {
      margin-bottom: 2.5rem;

      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;

        .date,
        .time {
          background: var(--background-color);
          padding: 0.2rem 0.6rem;
          border-radius: 0.5rem;

          display: flex;
          align-items: baseline;
          gap: 0.5rem;

          span {
            color: var(--primary-color);
            font-size: var(--small-font-size);
          }

          .right {
            .icon {
              display: none;
            }
          }
        }
      }

      figure {
        position: relative;
        border-radius: var(--border-radius);
        box-shadow: 0 5px 25px var(--primary-color-tint-7);
        overflow: hidden;

        .logo {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1.2rem;
          border-radius: 0.5rem;

          img {
            width: 56px;
          }
        }

        > img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    li {
      margin-right: 2rem;
      text-align: justify;
    }

    p {
      text-align: justify;
      line-height: 2.2;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@media screen and (max-width: 1024px) {
  .weblog-post {
    .weblog-post__container {
      .title {
        figure {
          .logo {
            img {
              width: 40px;
            }
          }

          > img {
            height: 188px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .weblog-post {
    .weblog-post__container {
      padding: 1.5rem 1rem;

      .title {
        margin-bottom: 1.5rem;

        .info {
          gap: 1rem;

          .date,
          .time {
            align-items: center;
            padding: 0.5rem 0.8rem;

            .right {
              .icon {
                display: block;
                width: 16px;
                height: 16px;

                svg {
                  width: 16px;
                  height: 16px;
                  fill: var(--primary-color-tint-5);
                }
              }

              span {
                display: none;
              }
            }
          }
        }
      }

      li {
        margin-right: 1rem;
      }
    }
  }
}
