.home-hero {
  .container {
    padding-block: 5rem;
  }

  .home-hero__container {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      aspect-ratio: 16/9;
      border-radius: 1rem;
      display: flex;
    }

    .data {
      position: absolute;
      top: 10rem;
      right: 4rem;

      .title {
        color: var(--lighter-color);
        margin-bottom: 0.5rem;
        text-shadow: 0 3px 6px #262c52;

        span {
          color: var(--secondary-color);
          font-family: 'bold';
        }
      }

      .description {
        color: var(--light-color);
        margin-bottom: 2rem;
        width: 80%;
        text-shadow: 0 3px 6px #262c52;
      }

      .button {
        box-shadow: 0 3px 6px #262c52;
      }
    }

    .scroll-down {
      background: var(--lighter-color);
      position: absolute;
      inset: auto 0 0 0;
      margin-inline: auto;
      width: 48px;
      height: 48px;
      display: grid;
      place-content: center;
      border-radius: 0.5rem 0.5rem 0 0;

      svg {
        width: 32px;
        height: 32px;
        fill: var(--primary-color);
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-hero {
    .container {
      padding-block: 3rem;
    }

    .home-hero__container {
      .data {
        top: 7rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-hero {
    .container {
      padding-block: 2rem;
    }

    .home-hero__container {
      .data {
        top: 4rem;
        right: 3rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-hero {
    .home-hero__container {
      .data {
        top: 1.5rem;
        right: 1.5rem;
        width: 65%;

        .description {
          width: 100%;
          margin-bottom: 1.5rem;
        }
      }

      img {
        aspect-ratio: 4/3;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-hero {
    .home-hero__container {
      .data {
        right: 1rem;
      }

      img {
        object-fit: fill;
        aspect-ratio: 1/1;
      }

      .scroll-down {
        width: 32px;
        height: 32px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
