.home-special {
  .section-title {
    margin-bottom: 5rem;
    justify-content: center;
  }

  .home-special__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;

    .data {
      .title {
        display: flex;
        align-items: baseline;
        gap: 0.7rem;
        margin-bottom: 0.5rem;

        span {
          font-size: var(--h3-font-size);
          font-family: 'english';
        }
      }

      p {
        text-align: justify;
        margin-bottom: 2rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-bottom: 3rem;

        li {
          display: flex;
          align-items: center;
          gap: 0.7rem;

          .icon {
            background: var(--primary-color-tint-10);
            border-radius: 50%;
            width: 36px;
            height: 36px;

            svg {
              fill: var(--primary-color-tint-3);
            }
          }

          span {
            font-family: 'semibold';
          }
        }
      }
    }

    figure {
      position: relative;
      border-radius: var(--border-radius);
      box-shadow: 0 5px 25px var(--primary-color-tint-7);

      .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-radius);
      }

      .product {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 250px;
        filter: drop-shadow(0 0 50px var(--primary-color-shade-7));
      }

      .box {
        position: absolute;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        background: hsla(229, 41%, 95%, 0.5);
        backdrop-filter: blur(10px);

        .number {
          display: grid;
          justify-items: center;
          color: var(--secondary-color);

          span {
            font-size: 3rem;
            font-family: 'bold';
            line-height: 0.8;
          }

          small {
            font-family: 'bold';
            font-size: var(--tiny-font-size);
          }
        }

        p {
          font-family: 'semibold';
          color: var(--primary-color-shade-5);
          text-align: center;
        }
      }

      .top {
        top: 0;
        right: 4rem;
        transform: translateY(-50%);
      }

      .bottom {
        bottom: 0;
        left: 4rem;
        transform: translateY(50%);
      }
    }
  }
}

// .home-special {
//   .section-title {
//     margin-bottom: 5rem;
//     justify-content: center;
//   }

//   .home-special__container {
//     background-image: url(../img/home-special-product-bg.webp);
//     padding: 3rem 4rem;
//     border-radius: var(--border-radius);
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     align-items: center;
//     gap: 5rem;

//     .data {
//       .title {
//         color: var(--text-color-lighter);
//         display: flex;
//         align-items: baseline;
//         gap: 0.7rem;
//         margin-bottom: 0.5rem;

//         span {
//           font-size: var(--h3-font-size);
//           font-family: 'english';
//         }
//       }

//       p {
//         color: var(--text-color-light);
//         text-align: justify;
//         margin-bottom: 2rem;
//       }

//       ul {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         gap: 1.5rem;
//         margin-bottom: 3rem;

//         li {
//           background: var(--primary-color-tint-4);
//           padding: 1rem;
//           border-radius: var(--border-radius);
//           display: flex;
//           align-items: center;
//           gap: 0.7rem;

//           .icon {
//             background: var(--primary-color-tint-10);
//             border-radius: 50%;
//             width: 36px;
//             height: 36px;

//             svg {
//               fill: var(--primary-color-tint-3);
//             }
//           }

//           span {
//             color: var(--text-color-lighter);
//             font-family: 'semibold';
//           }
//         }
//       }

//       .button {
//         background: var(--primary-color-tint-2);
//         color: var(--text-color-lighter);
//         box-shadow: 0 2px 15px var(--primary-color-shade-9);
//       }
//     }

//     figure {
//       position: relative;

//       .product {
//         margin-inline: auto;
//         width: 250px;
//         filter: drop-shadow(0 0 50px var(--primary-color-shade-7));
//       }

//       .box {
//         position: absolute;
//         padding: 1rem 1.5rem;
//         border-radius: 0.5rem;
//         display: flex;
//         align-items: center;
//         gap: 1rem;

//         background: hsla(229, 41%, 95%, 0.3);
//         backdrop-filter: blur(10px);

//         .number {
//           display: grid;
//           justify-items: center;
//           color: var(--secondary-color);

//           span {
//             font-size: 3rem;
//             font-family: 'bold';
//             line-height: 0.8;
//           }

//           small {
//             font-family: 'bold';
//             font-size: var(--tiny-font-size);
//           }
//         }

//         p {
//           font-family: 'semibold';
//           color: var(--primary-color-shade-5);
//           text-align: center;
//         }
//       }

//       .top {
//         top: -3rem;
//         right: 1.5rem;
//       }

//       .bottom {
//         bottom: -4rem;
//         left: 1.5rem;
//       }
//     }
//   }
// }

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-special {
    .section-title {
      margin-bottom: 4rem;
    }

    .home-special__container {
      gap: 3rem;

      .data {
        p {
          margin-bottom: 1.5rem;
        }

        ul {
          gap: 1rem;
          margin-bottom: 2.5rem;
        }
      }

      figure {
        .product {
          width: 180px;
        }

        .box {
          padding: 0.8rem 1.2rem;
        }

        .top {
          right: 3rem;
        }

        .bottom {
          left: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-special {
    .section-title {
      margin-bottom: 3.5rem;
    }

    .home-special__container {
      gap: 2rem;

      .data {
        ul {
          li {
            .icon {
              width: 32px;
              height: 32px;

              svg {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      figure {
        .product {
          width: 150px;
        }

        .box {
          .number {
            span {
              font-size: 2.5rem;
            }
          }
        }

        .top {
          right: 2rem;
        }

        .bottom {
          left: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-special {
    .section-title {
      margin-bottom: 2rem;
    }

    .home-special__container {
      margin-bottom: 2rem;
      grid-template-columns: 1fr;
      gap: 4rem;

      .data {
        p {
          margin-bottom: 1rem;
        }

        ul {
          margin-bottom: 1.6rem;
        }
      }

      figure {
        aspect-ratio: 16/9;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-special {
    .home-special__container {
      .data {
        ul {
          li {
            .icon {
              width: 28px;
              height: 28px;

              svg {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      figure {
        aspect-ratio: 4/3;

        .product {
          width: 120px;
        }

        .box {
          padding: 0.8rem;
          gap: 0.5rem;
        }

        .top {
          right: 1.5rem;
        }

        .bottom {
          left: 1.5rem;
        }
      }
    }
  }
}
