.home-articles {
  .home-articles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    article {
      overflow: hidden;
      background: var(--lighter-color);
      padding: 1rem;
      border-radius: 1rem;

      img {
        // aspect-ratio: 2/1;
        // object-fit: cover;
        border-radius: 0.5rem;
      }

      time {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        .icon {
          width: 24px;
          height: 24px;
          opacity: 0.7;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      .cta {
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 0.5rem;
        align-items: center;

        p {
          font-family: 'semibold';
        }

        a {
          font-size: var(--small-font-size);
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-articles {
    .home-articles__container {
      gap: 1.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-articles {
    .home-articles__container {
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: 45%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }

    .home-articles__container::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-articles {
    .home-articles__container {
      gap: 1rem;
      grid-auto-columns: 55%;

      article {
        padding: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-articles {
    .home-articles__container {
      grid-auto-columns: 80%;
    }
  }
}
