.home-hero {
  .container {
    padding-block: 2.5rem;
  }

  .home-hero__container {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 25px var(--primary-color-tint-7);

    img {
      object-fit: cover;
      object-position: center;
      aspect-ratio: 16/9;
    }

    .data {
      position: absolute;
      top: 10rem;
      right: 4rem;

      .title {
        color: var(--text-color-lighter);
        margin-bottom: 0.5rem;
        text-shadow: 0 2px 10px var(--primary-color-shade-6);

        span {
          color: var(--secondary-color);
          font-family: 'bold';
        }
      }

      .description {
        color: var(--text-color-light);
        margin-bottom: 2rem;
        width: 80%;
        text-shadow: 0 2px 10px var(--primary-color-shade-6);
      }

      .button {
        background: var(--primary-color-tint-2);
        color: var(--text-color-lighter);
        box-shadow: 0 2px 15px var(--primary-color-shade-9);
      }
    }

    .scroll-down {
      background: var(--background-color);
      position: absolute;
      inset: auto 0 0 0;
      margin-inline: auto;
      width: 40px;
      height: 40px;
      border-radius: 0.6rem 0.6rem 0 0;

      svg {
        fill: var(--primary-color);
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-hero {
    .container {
      padding-block: 2rem;
    }

    .home-hero__container {
      .data {
        top: 6rem;
        right: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-hero {
    .home-hero__container {
      .data {
        top: 2.5rem;
        right: 3rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-hero {
    .home-hero__container {
      .data {
        top: 1.5rem;
        right: 1.5rem;

        .description {
          width: 65%;
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-hero {
    .home-hero__container {
      img {
        object-fit: fill;
        aspect-ratio: 1/1;
      }

      .data {
        top: 2.5rem;
        right: 1rem;
      }

      .scroll-down {
        width: 32px;
        height: 32px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
