.home-new {
  .home-new__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card {
      box-shadow: 0 0 20px var(--primary-color-tint-10);
      border-radius: var(--border-radius);
      overflow: hidden;
      display: grid;
      justify-items: center;
      gap: 1rem;
      padding: 2.5rem 1.5rem 1.5rem 1.5rem;

      figure {
        position: relative;
        margin-bottom: 1.5rem;

        .badge {
          position: absolute;
          z-index: 1;
          inset: 0;
          margin: auto;
          width: max-content;
          height: max-content;
          display: grid;
          padding: 0.5rem;
          border-radius: 0.4rem;

          span {
            line-height: 1;
            text-align: center;
            font-family: 'english';
            font-size: var(--small-font-size);
          }
        }

        .badge.light {
          background: var(--primary-color-tint-7);
          color: var(--text-color-dark);
        }

        .badge.dark {
          background: var(--primary-color-shade-7);
          color: var(--text-color-light);
        }

        img {
          width: 120px;
          filter: drop-shadow(0 0 5px var(--primary-color-tint-8));
        }
      }

      h5 {
        text-align: center;
      }

      a {
        width: 100%;
        font-size: var(--small-font-size);
        font-family: 'light';
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-new {
    .home-new__container {
      gap: 1.5rem;

      .card {
        padding: 2rem 1rem 1rem 1rem;

        figure {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-new {
    .home-new__container {
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: 35%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      padding-block: 1rem;
      padding-inline: 0.5rem;
    }

    .home-new__container::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-new {
    .home-new__container {
      gap: 1rem;
      grid-auto-columns: 40%;

      .card {
        padding: 1.5rem 1rem 1rem 1rem;

        figure {
          img {
            width: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-new {
    .home-new__container {
      grid-auto-columns: 65%;
    }
  }
}
