.footer {
  margin-top: 5rem;

  .footer__container {
    display: grid;
    gap: 2rem;

    .footer__customer-service {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 2rem;
      border-radius: 1rem;

      background-image: url('../img/footer-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: var(--lighter-color);

      .footer__customer-service-description {
        h4 {
          margin-bottom: 0.3rem;
        }

        span {
          color: var(--light-color);
        }
      }

      .footer__customer-service-number {
        display: flex;
        align-items: center;
        gap: 1rem;

        .number {
          span {
            color: var(--light-color);
          }
        }

        .icon {
          width: 48px;
          height: 48px;
          background: var(--secondary-color);
          border-radius: 10rem;

          svg {
            fill: var(--light-color);
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .footer__info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .footer__logo {
        a {
          img {
            width: 160px;
            filter: drop-shadow(5px 5px 10px #000);
          }
        }
      }

      ul {
        display: grid;
        gap: 0.5rem;

        li {
          display: flex;
          gap: 0.5rem;

          span {
            color: var(--dark-color);
            font-size: var(--small-font-size);
            font-family: 'light';
          }

          p {
            color: var(--darker-color);
          }
        }
      }

      .licenses {
        margin-right: auto;

        figure {
          background: var(--primary-color);
          padding: 1rem;
          border-radius: 1rem;
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            height: 100%;
            filter: brightness(100);
          }
        }
      }
    }

    .footer__bottom {
      color: var(--darker-color);
      padding-block: 1rem;
      border-top: 1px solid #dadeee;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer__copy {
        font-family: 'light';

        p {
          font-size: var(--small-font-size);
        }

        span {
          font-size: var(--tiny-font-size);

          a {
            color: var(--primary-color);
          }
        }
      }

      .footer__social {
        display: flex;
        gap: 1rem;

        .icon {
          width: 40px;
          height: 40px;
          border-radius: 10rem;

          svg {
            width: 24px;
            height: 24px;
            fill: #ffffff;
          }
        }

        .icon:nth-child(1) {
          background: rgba(49, 188, 50, 1);
        }

        .icon:nth-child(2) {
          background: rgba(37, 155, 216, 1);
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .footer {
    .footer__container {
      gap: 2rem;

      .footer__info {
        .footer__logo {
          a {
            img {
              width: 128px;
            }
          }
        }

        .licenses {
          figure {
            padding: 0.8rem;
            width: 72px;
            height: 72px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .footer__container {
      .footer__customer-service {
        padding: 1.5rem;
        flex-direction: column;
        text-align: center;

        .footer__customer-service-number {
          .icon {
            width: 40px;
            height: 40px;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .footer__info {
        flex-direction: column;

        ul {
          li {
            text-align: center;
            flex-direction: column;
            gap: 0;
          }
        }

        .licenses {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .footer__container {
      .footer__customer-service {
        .footer__customer-service-number {
          gap: 0.5rem;
        }
      }

      .footer__info {
        .footer__logo {
          a {
            img {
              width: 120px;
            }
          }
        }

        .licenses {
          figure {
            padding: 0.6rem;
            width: 64px;
            height: 64px;
          }
        }
      }

      .footer__bottom {
        .footer__social {
          gap: 0.5rem;
        }
      }
    }
  }
}
