.header {
  box-shadow: 0 1px 10px var(--primary-color);

  .nav {
    height: 7rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    .nav__logo {
      img {
        width: 64px;
      }
    }

    .nav__menu {
      .nav__menu-header {
        display: none;
      }

      .nav__list {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        .nav__item {
          .nav__link {
            color: var(--dark-color);
            display: inline-block;
            white-space: nowrap;
            transition: color 0.3s;
          }

          .nav__link:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    .nav__btn {
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .nav__toggle {
      display: none;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@  BREAKPOINTS  @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .header {
    .nav {
      height: 6rem;
      gap: 1.5rem;

      .nav__menu {
        .nav__list {
          gap: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .overlay {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      pointer-events: none;
      background: hsla(232, 33%, 49%, 0.5);
      backdrop-filter: blur(5px);
      transition: opacity 0.3s;
    }

    .nav {
      height: 5rem;
      gap: 1rem;

      .nav__logo {
        img {
          width: 48px;
        }
      }

      .nav__menu {
        background: var(--bg-color);
        position: fixed;
        right: -100%;
        top: 0;
        width: 45%;
        height: 100vh;
        z-index: 100;
        transition: right 0.3s ease-in-out;

        .nav__menu-header {
          height: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 1.5rem;
          border-bottom: 1px solid red;

          .nav__close {
            display: grid;
            cursor: pointer;
          }
        }

        .nav__list {
          flex-direction: column;
          padding-inline: 1.5rem;
          padding-block: 1.5rem;

          .nav__item {
            width: 100%;

            .nav__link {
              width: 100%;
              padding-bottom: 0.5rem;
              border-bottom: 1px solid red;
            }

            .nav__link:hover {
            }
          }

          .nav__item:last-child .nav__link {
            border-bottom: none;
          }
        }
      }

      .nav__btn {
        gap: 0;

        span,
        small {
          display: none;
        }
      }

      .nav__toggle {
        display: grid;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    .nav {
      .nav__menu {
        width: 75%;
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.header .overlay.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

.header .nav .nav__menu.show-menu {
  right: 0;
}

.remove-body-scroll {
  overflow: hidden;
}
