// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@  FONTS  @@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@font-face {
  font-family: 'light';
  src: url(../fonts/Sahel-Light.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(../fonts/Sahel.ttf);
}

@font-face {
  font-family: 'semibold';
  src: url(../fonts/Sahel-SemiBold.ttf);
}

@font-face {
  font-family: 'bold';
  src: url(../fonts/Sahel-Bold.ttf);
}

@font-face {
  font-family: 'english-bold';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: 'english-regular';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@  VARIABLES  @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
:root {
  // minor-third type scale
  --h1-font-size: 4.3rem;
  --h2-font-size: 2.074rem;
  --h3-font-size: 1.728rem;
  --h4-font-size: 1.44rem;
  --h5-font-size: 1.2rem;
  --body-font-size: 1rem;
  --small-font-size: 0.833rem;
  --tiny-font-size: 0.694rem;

  --primary-color: #545fa7;
  --primary-color-tint-2: #636fb0;
  --primary-color-tint-3: #737eba;
  --primary-color-tint-4: #838ec3;
  --primary-color-tint-5: #949ecc;
  --primary-color-tint-6: #a5add5;
  --primary-color-tint-7: #b6bddd;
  --primary-color-tint-8: #c8cee6;
  --primary-color-tint-9: #dadeee;
  --primary-color-tint-10: #eceef7;

  --primary-color-shade-4: #11152c;
  --primary-color-shade-5: #1b203e;
  --primary-color-shade-6: #262c52;
  --primary-color-shade-7: #313866;
  --primary-color-shade-8: #3c447b;
  --primary-color-shade-9: #485291;

  --secondary-color: #cb2127;
  --background-color: #f8f9fc;
  --text-color-light: #ebecf5;
  --text-color-lighter: #f8f9fc;
  --text-color-dark: #111322;
  --text-color-darker: #030407;

  --border-radius: 1rem;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@     BASE    @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'regular';
}

body {
  font-size: var(--body-font-size);
  background: var(--background-color);
  color: var(--text-color-dark);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bold';
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  font-size: var(--body-font-size);
  cursor: pointer;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@  REUSABLE CLASSES   @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.container {
  max-width: 1264px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

.section {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.button {
  background: var(--primary-color-tint-2);
  color: var(--text-color-lighter);
  box-shadow: 0 2px 10px var(--primary-color-tint-7);
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 0.6rem;
  transition: background 0.4s;
}

.button:hover {
  background: var(--primary-color-shade-9);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  h2 {
    span {
      color: var(--secondary-color);
      font-family: 'bold';
    }
  }

  a {
    display: flex;
    align-items: center;
    color: var(--text-color-dark);
    color: var(--primary-color);

    span {
      font-family: 'semibold';
    }

    .icon {
      transition: transform 0.3s;

      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.section-title a:hover .icon {
  transform: translateX(-3px);
}

.icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color-dark);
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@     SCROLL UP      @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.scrollup {
  background: var(--primary-color-tint-10);
  position: fixed;
  right: 1.5rem;
  bottom: -30%;
  z-index: 99;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 50%;
  width: 48px;
  height: 48px;

  svg {
    fill: var(--primary-color-tint-5);
  }
}

.show-scrollup {
  bottom: 5rem;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@     SCROLL BAR     @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-tint-10);
  border-radius: 1rem;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-tint-8);
  border-radius: 1rem;
  border: 2px solid var(--primary-color-tint-10);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-tint-7);
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@    BREAKPOINTS     @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (min-width: 3840px) {
  body {
    zoom: 2;
  }
}

@media (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --h1-font-size: 3.762rem;
    --h2-font-size: 1.814rem;
    --h3-font-size: 1.511rem;
    --h4-font-size: 1.26rem;
    --h5-font-size: 1.05rem;
    --body-font-size: 0.875rem;
    --small-font-size: 0.729rem;
    --tiny-font-size: 0.607rem;
  }

  .container {
    max-width: 1072px;
    padding-inline: 1.5rem;
  }

  .section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .section-title {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .section-title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --h1-font-size: 2.687rem;
    --h2-font-size: 1.555rem;
    --h3-font-size: 1.296rem;
    --h4-font-size: 1.08rem;
    --h5-font-size: 0.9rem;
    --body-font-size: 0.75rem;
    --small-font-size: 0.625rem;
    --tiny-font-size: 0.52rem;
  }

  .container {
    padding-inline: 1rem;
  }

  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-title {
    .icon {
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  :root {
    --h1-font-size: 2rem;
  }
}
